html 
    head 
        title 
        style  
            include about.css 
    body 
       
        div.maincontainer
            div.junior#b1
               h2 |ABOUT US
               h4 We are bold in the market
               p We are the best market seller in pakistan and we are completly sincere with our work till the whole bussiness market and all the  merchants knows we are quality builders
               button#btn 
                |Read more 
               h1 ABOUT US  
            div.junior         
                div.inner
                