html
  head
    title Alberkat Grocery
    style
        include style.css
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  body

    nav
        
        ul 
            img(src="/static/logo.png", alt="its logo image" class='logo')        
            li #[a(href='/') Home] 
            li #[a(href='/about') About] 
            li #[a(href='/order') Order] 
            li #[a(href='/contact') Contact] 
            input(type="search" id='search' placeholder="Search")
            <i class="fa fa-search" aria-hidden="true"></i>
            
    div.section
        h1 
            |Albarkat Grocery                 
            
        h3 
            |Best quality our first priority    
            
    h2 We Serve
    div.section2 
        div.box#item1
            h3
                |BAKREY & BREAD
        div.box#item2
            h3 
                |MEAT AND SEAFOOD
        div.box#item3
            h3 
                |PASTA AND RICE
                    
    div.section2 
        div.box#item4 
            h3
                |OILS
        div.box#item5
            h3 
                |FROZEN FOODS
        div.box#item6
            h3 
                |DAIRY,CHEEZ AND EGGS
    footer 
        h2 NEWS LETTER 
            h5  Albarkatstore@gmail.com
            h5  Gol chok sargodha
            h5  0483780631

        p All The Rights Are reserved by Albarkat store &copy 2023
